@using Northwind.Application.Constants
@addTagHelper *, Northwind.Application
@model Northwind.Application.Models.Order.OrderIndexModel
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "Orders";
    ViewData["ActionName"] = "Delete";
    ViewData["CustomerId"] = ViewBag.CustomerId;
    ViewData["ForeignKeyValue"] = ViewBag.CustomerId;
    ViewData["ForeignKeyName"] = "customerId";
}

<h1>@(ViewBag.CompanyName != "" ? $"\"{ViewBag.CompanyName}\"" : string.Empty) Order List</h1>

@if (User.IsInRole(UserRoles.Admin))
{
    <div class="row">
        <div class="col-3 align-content-center">
            <h5 class="float-end">Customer:</h5>
        </div>
        <div class="col-6">
            @if (Model.CustomerList != null)
            {
                <select onchange="onCustomerSelectListChange(value)" class="form-select">
                    @foreach (var option in Model.CustomerList ?? throw new ArgumentNullException("Customer List is null"))
                    {
                        if (option.Selected)
                        {
                            <option value="@option.Value" selected>@option.Text</option>
                        }
                        else
                        {
                            <option value="@option.Value">@option.Text</option>
                        }
                    }
                </select>
            }            
        </div>
        <div class="col-2">
            @await Html.PartialAsync("_IndexButtonsPartial")
        </div>
    </div>
}

@if (Model.Orders.Any())
{
    @await Html.PartialAsync("_TableFormPartial", Model.Orders, ViewData)

    if (ViewData["CustomerId"] != null && User.IsInRole(UserRoles.Admin))
    {
        <button class="btn btn-primary fw-bold" onclick="location.href = '@Url.ActionLink("Details", "Customers", new { id = ViewData["CustomerId"] })'">
            To Customer
        </button>
    }
    
    <page-link page-model="Model.PageViewModel" page-action="Index" class="float-end"></page-link>
}
else
{
    <h1>List is empty</h1>
    @if (ViewData["PreviousPage"] != null)
    {
        <button class="btn btn-primary fw-bold" onclick="location.href = '@ViewData["PreviousPage"]'">Back</button>
    }
}

<script>
    function onCustomerSelectListChange(value) {
        const url = `/Orders?customerId=${value}`;
        window.location.href = window.location.origin.concat(url);
    }
</script>