@using Northwind.Application.Constants
@using Northwind.Application.Enums
@using System.Reflection
@model SelectList?

@functions {
    string? ControllerName => ViewData["ControllerName"]?.ToString() ?? this.Context.Request.Path.ToString().TrimStart('/');
    object? ForeignKeyValue => ViewData["ForeignKeyValue"];

    string? Link =>
        ControllerName switch
        {
            "Products" => 
                SelectListHeader == SelectListName.CategoryList.ToString() ? 
                    Url.ActionLink("Create", ControllerName, new { categoryId = ForeignKeyValue }) :
                    Url.ActionLink("Create", ControllerName, new { supplierId = ForeignKeyValue }),

            "Orders" => Url.ActionLink("Create", ControllerName, new { customerId = ForeignKeyValue }),
            _ => Url.ActionLink("Create", ControllerName)
        };

    string? SelectListHeader => ViewData["SelectListName"]?.ToString();

    string? UrlForSelectedItem => $"/{ControllerName}?{SelectListHeader?.Replace("List", "")?.ToLower()}Id=";

    string? ChangeSelectList()
    {
        ViewData["SelectListName"] = SelectListHeader == SelectListName.CategoryList.ToString() ? 
            SelectListName.SupplierList.ToString() : 
            SelectListName.CategoryList.ToString();

        return UrlForSelectedItem;
    }
}

<div class="row">
    @if (Model != null)
    {
        <div class="col-3 align-content-center">
            @if (ControllerName == "Products")
            {
                <button class="float-end" onclick="onClickForProducts()">@(SelectListHeader?.Replace("List", "")):</button>
            }
            else
            {
                <h5 class="float-end">@(SelectListHeader?.Replace("List", "")):</h5>
            }            
        </div>
        <div class="col-6">
            <select onchange="onCategorySelectListChange(value)" class="form-select">
                @foreach (var option in Model ?? new SelectList(Enumerable.Empty<object>()))
                {
                    if (option.Selected)
                    {
                        <option value="@option.Value" selected>@option.Text</option>
                    }
                    else
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                }
            </select>
        </div>
    }
    <div class="col-2">
        <button class="btn btn-primary fw-bold" onclick="location.href = '@Link'" id="createButton">
            Create
        </button>
        <button form="form" class="btn btn-danger fw-bold" type="submit" id="deleteButton" hidden>
            Delete
        </button>
    </div>
</div>

<script>
    function onCategorySelectListChange(value) {
        const url = `@UrlForSelectedItem${value}`;
        window.location.href = window.location.origin.concat(url);
    }

    function onClickForProducts() {
        const url = `@ChangeSelectList()0`;
        window.location.href = window.location.origin.concat(url);
    }
</script>