@using System.Reflection;
@using Northwind.Bll.Services.Extensions
@model IEnumerable<object>

@functions {
    string ControllerName => ViewData["ControllerName"].ToString().SplitForUpperCase(Model.FirstOrDefault());
    string Method => ViewData["FormMethod"] == null ? "get" : ViewData["FormMethod"].ToString();
    PropertyInfo[] Properties => Model.Any() ? Model.First().GetType().GetProperties() : new PropertyInfo[0];
    IEnumerable<string> PropertyNames => Properties.Select(x => x.Name).Where(x => !x.Contains("Id"));
    string Disabled => User.IsInRole("admin") ? "" : "disabled";
    string Hidden => ViewData["Hidden"] == null ? "" : ViewData["Hidden"].ToString();

    IEnumerable<object?> GetPropertyValues(object item)
    {
        foreach (var propertyName in PropertyNames)
        {
            object value = null;

            try
            {
                value = item.GetType().GetProperty(propertyName).GetValue(item);
            }
            catch (ArgumentNullException ex)
            {
                Console.WriteLine(ex.Message);
            }
            catch (NullReferenceException ex)
            {
                Console.WriteLine(ex.Message);
            }

            yield return value;
        }
    }

    int GetId(object item)
    {
        return (int)(Properties.First(x => x.Name.Contains(ControllerName) && x.Name.Contains("Id")).GetValue(item) ?? 0);
    }

    string GetDetailsLink(int id) => Url.ActionLink("Details", ControllerName, new { id = id }) ?? "/Home/Index";
}

<div style="padding-top:20px;">
    <table class="table">
        <thead  style="height:60px;">
            <tr >
                @foreach (var name in PropertyNames)
                {
                    <th class="align-content-center">
                        @name.SplitForUpperCase()
                    </th>
                }
                <th class="text-center align-content-center">
                    <input onchange="onChangeSelectAllHandler(this.checked)" id="selectAllCheckbox" style="margin-left:20px;" type="checkbox" @Disabled @Hidden />
                </th>
            </tr>
        </thead>
        <tbody>
            <form id="form" method="@Method" asp-action=@ViewData["ActionName"] asp-controller=@ControllerName>
                @foreach (var item in base.Model)
                {
                    if (ViewData["ActionName"] == "DeleteConfirmed")
                    {
                        <input value="@GetId(item)" name="ids" type="hidden" />
                    }

                    <tr style="cursor:pointer">
                         @foreach (var value in GetPropertyValues(item))
                         {
                             <td class="align-content-center" onclick="location.href = '@GetDetailsLink(GetId(item))'">
                                 @if (value is string)
                                 {
                                     @(value as string)
                                 }

                                 @if (value is byte[])
                                 {
                                     <img src="data:image/bmp;base64,@Convert.ToBase64String(value as byte[] ?? new byte[0])" style="height:60px;width:60px;" />
                                 }
                             </td>
                         }
                        <td class="text-center align-content-center">
                            <input name="ids" type="checkbox" id="@GetId(item)" value="@GetId(item)" style="margin-left:20px;" onclick="onChangeHandler(this)" @Disabled @Hidden />
                        </td>
                    </tr>
                }
            </form>
        </tbody>
    </table>
</div>

@if (ViewData["PreviousPage"] != null)
{
    <button class="btn btn-primary fw-bold" onclick="location.href = '@ViewData["PreviousPage"]'">Back</button>
}
