@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Northwind.Application.Models.Category
@using Northwind.Application.Models.Customer
@using Northwind.Application.Models.Seller
@using System.Reflection
@using Northwind.Application.Models.Order
@using Northwind.Application.Models.Product
@model object

@functions
{
    string PropertyName
    {
        get
        {
            return ViewData["PropertyName"] as string ?? "";
        }
    }
}

@if (Model is SellerEditModel)
{
    var sellerEditModel = Model as SellerEditModel;

    if (PropertyName == "FirstName")
    {
        <span asp-validation-for="@sellerEditModel!.FirstName" class="text-danger float-end"></span>
    }

    if (PropertyName == "LastName")
    {
        <span asp-validation-for="@(sellerEditModel!.LastName)" class="text-danger float-end"></span>
    }

    if (PropertyName == "HireDate")
    {
        <span asp-validation-for="@(sellerEditModel!.HireDate)" class="text-danger float-end"></span>
    }

    if (PropertyName == "BirthDate")
    {
        <span asp-validation-for="@(sellerEditModel!.BirthDate)" class="text-danger float-end"></span>
    }
}

@if (Model is SellerCreateModel)
{
    var sellerCreateModel = Model as SellerCreateModel;

    if (PropertyName == "FirstName")
    {
        <span asp-validation-for="@(sellerCreateModel!.FirstName)" class="text-danger float-end"></span>
    }

    if (PropertyName == "LastName")
    {
        <span asp-validation-for="@(sellerCreateModel!.LastName)" class="text-danger float-end"></span>
    }

    if (PropertyName == "HireDate")
    {
        <span asp-validation-for="@(sellerCreateModel!.HireDate)" class="text-danger float-end"></span>
    }

    if (PropertyName == "BirthDate")
    {
        <span asp-validation-for="@(sellerCreateModel!.BirthDate)" class="text-danger float-end"></span>
    }
}

@if (Model is CategoryEditModel)
{
    var categoryEditModel = Model as CategoryEditModel;

    if (PropertyName == "CategoryName")
    {
        <span asp-validation-for="@(categoryEditModel!.CategoryName)" class="text-danger float-end"></span>
    }
}

@if (Model is CategoryCreateModel)
{
    var categoryCreateModel = Model as CategoryCreateModel;

    if (PropertyName == "CategoryName")
    {
        <span asp-validation-for="@(categoryCreateModel!.CategoryName)" class="text-danger float-end"></span>
    }
}

@if (Model is ProductEditModel)
{
    var productEditModel = Model as ProductEditModel;

    if (PropertyName == "ProductName")
    {
        <span asp-validation-for="@(productEditModel!.ProductName)" class="text-danger float-end"></span>
    }

    if (PropertyName == "UnitPrice")
    {
        <span asp-validation-for="@(productEditModel!.UnitPrice)" class="text-danger float-end"></span>
    }

    if (PropertyName == "UnitsInStock")
    {
        <span asp-validation-for="@(productEditModel!.UnitsInStock)" class="text-danger float-end"></span>
    }

    if (PropertyName == "UnitsOnOrder")
    {
        <span asp-validation-for="@(productEditModel!.UnitsOnOrder)" class="text-danger float-end"></span>
    }

    if (PropertyName == "ReorderLevel")
    {
        <span asp-validation-for="@(productEditModel!.ReorderLevel)" class="text-danger float-end"></span>
    }
}

@if (Model is ProductCreateModel)
{
    var productCreateModel = Model as ProductCreateModel;

    if (PropertyName == "ProductName")
    {
        <span asp-validation-for="@(productCreateModel!.ProductName)" class="text-danger float-end"></span>
    }

    if (PropertyName == "UnitPrice")
    {
        <span asp-validation-for="@(productCreateModel!.UnitPrice)" class="text-danger float-end"></span>
    }

    if (PropertyName == "UnitsInStock")
    {
        <span asp-validation-for="@(productCreateModel!.UnitsInStock)" class="text-danger float-end"></span>
    }

    if (PropertyName == "UnitsOnOrder")
    {
        <span asp-validation-for="@(productCreateModel!.UnitsOnOrder)" class="text-danger float-end"></span>
    }

    if (PropertyName == "ReorderLevel")
    {
        <span asp-validation-for="@(productCreateModel!.ReorderLevel)" class="text-danger float-end"></span>
    }
}

@if (Model is CustomerCreateModel)
{
    var customerCreateModel = Model as CustomerCreateModel;

    if (PropertyName == "CompanyName")
    {
        <span asp-validation-for="@(customerCreateModel!.CompanyName)" class="text-danger float-end"></span>
    }
}

@if (Model is OrderCreateModel)
{
    var orderCreateModel = Model as OrderCreateModel;

    if (PropertyName == "Freight")
    {
        <span asp-validation-for="@(orderCreateModel!.Freight)" class="text-danger float-end"></span>
    }

    if (PropertyName == "CustomerId")
    {
        <span asp-validation-for="@(orderCreateModel!.CustomerId)" class="text-danger float-end"></span>
    }
}

@if (Model is OrderEditModel)
{
    var orderEditModel = Model as OrderEditModel;

    if (PropertyName == "Freight")
    {
        <span asp-validation-for="@(orderEditModel!.Freight)" class="text-danger float-end"></span>
    }

    if (PropertyName == "CustomerId")
    {
        <span asp-validation-for="@(orderEditModel!.CustomerId)" class="text-danger float-end"></span>
    }
}

