@model IEnumerable<Northwind.Application.Models.Employee.EmployeeIndexModel>
@{
    ViewData["Title"] = "Employees";
    var guest = User.IsInRole("guest") ? "Guest" : "";
}

<head>
    <link href="@Url.Content("~/css/checkboxes.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Employees</h1>

<button class="btn btn-primary" onclick="location.href = '@Url.ActionLink("Create", $"{guest}Employees")'">
    Create New
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th class="text-center">
                <input onchange="onChangeSelectAllHandler(this.checked)" id="selectAllCheckbox" type="checkbox" />
            </th>
        </tr>
    </thead>
    <tbody>
    <form method="get" asp-action="Delete">
        <button class="btn btn-danger float-end" type="submit" id="deleteButton" hidden>
            Delete
        </button>
        @foreach (var item in Model)
        {
            <tr style="cursor:pointer">
                <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="align-middle" onclick="location.href = '@Url.ActionLink("Details", $"{guest}Employees", new { id = item.EmployeeId })'">
                        @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="align-middle" onclick="location.href = '@Url.ActionLink("Details", $"{guest}Employees", new { id = item.EmployeeId })'">
                        @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td class="align-middle" onclick="location.href = '@Url.ActionLink("Details", $"{guest}Employees", new { id = item.EmployeeId })'">
                    <img src="data:image/bmp;base64,@Convert.ToBase64String(item.Photo!)" style="height:60px;width:60px;" />
                </td>
                <td class="align-middle text-center" style="min-width:50px;">
                    <input name="ids" type="checkbox" id="@item.EmployeeId" value="@item.EmployeeId" onclick="onChangeHandler(this)" />
                </td>
            </tr>
        }
    </form>
    </tbody>
</table>

<script src="~/js/checkboxes.js"/>
