@model Northwind.Application.Models.Product.ProductsForCategoryModel

@{
    ViewData["Title"] = "Products";
    ViewData["Role"] = User.IsInRole("guest") ? "Guest" : "";
}

@functions
{
    string GetDetailsLink(int id) => Url.ActionLink("Details", $"{ViewData["Role"]}Products", new { id = id });
}

<head>
    <link href="@Url.Content("~/css/checkboxes.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Products of @Model.CategoryName</h1>

<div>
    <button class="btn btn-primary" onclick="location.href = '@Url.ActionLink("Create", $"{ViewData["Role"]}Products", new { categoryId = Model.CategoryId})'">
        Create New
    </button>

    <button class="btn btn-primary" id="editButton" style="margin-left:20px;" type="button">
        Select
    </button>

    <input onchange="onChangeSelectAllHandler(this.checked)" id="selectAllCheckbox" style="margin-left:20px;" type="checkbox" hidden />
    <label id="selectAllSpan" for="selectAllCheckbox" hidden>Select all Products</label>

    <button form="form" class="btn btn-danger float-end" type="submit" id="deleteButton" hidden>
        Delete
    </button>
</div>


<form id="form" method="get" asp-action="Delete">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Quantity Per Unit
                </th>
                <th>
                    Unit Price, $
                </th>
                <th>
                    Units In Stock
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                <tr>
                    <td style="cursor:pointer" onclick="location.href = '@GetDetailsLink(item.ProductId)'">
                         @Html.DisplayFor(modelItem => item.ProductName)
                     </td>
                    <td style="cursor:pointer" onclick="location.href = '@GetDetailsLink(item.ProductId)'">
                         @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                     </td>
                    <td style="cursor:pointer" onclick="location.href = '@GetDetailsLink(item.ProductId)'">
                         @Html.DisplayFor(modelItem => item.UnitPrice)
                     </td>
                    <td style="cursor:pointer" onclick="location.href = '@GetDetailsLink(item.ProductId)'">
                         @Html.DisplayFor(modelItem => item.UnitsInStock)
                     </td>
                     <td>
                        <input name="ids" type="checkbox" id="@item.ProductId" value="@item.ProductId" onclick="onChangeHandler(this)" hidden />
                     </td>
                 </tr>
            }
        </tbody>
    </table>
</form>

<script src="~/js/checkboxes.js" />
