@using Microsoft.AspNetCore.Components
@using Northwind.Application.Constants
@model Northwind.Application.Models.OrderDetail.OrderDetailCreateModel
@{
    ViewData["ControllerName"] = "OrderDetails";
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    var categoryId = ViewBag.CategoryId;
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<h1>Form "@ViewBag.ProductName" Order</h1>
<hr />

<div class="form-group" style="max-width:400px;">
    <form asp-action="Create" id="form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input name="OrderId" value="@Model.OrderId" hidden />
        <input name="ProductId" value="@Model.ProductId" hidden />
        <input name="UnitPrice" id="unitPrice" value="@Model.UnitPrice" hidden />
        @if (!User.IsInRole(UserRoles.Admin))
        {
            <input id="discount" type="number" name="Discount" value="@Model.Discount" hidden />
        }

        <div>
            <label class="fw-bold">Unit Price: </label>
            <span class="fw-normal">@(((decimal)(Model.UnitPrice ?? 0m)).ToString("f2")) $</span>
        </div>

        <div>
            <label class="fw-bold">Discount: </label>
            @if (User.IsInRole(UserRoles.Admin))
            {
                <input id="discount" onchange="onDiscountChange(value)" type="number" name="Discount" value="@Model.Discount" class="form-control" />
            }
            else
            {
                <span>@(Model.Discount) %</span>
            }
        </div>

        <span id="overloadQuantityError" style="color:transparent">Not enough units in stock</span>
        <div>
            <label class="fw-bold">Quantity</label>
            <button id="minus" onclick="onMinusClick()" type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="Quantity">
                <span class="glyphicon glyphicon-minus"></span>
            </button>

            <input id="quantity" name="Quantity" value="@Model.Quantity" onchange="onQuantityChange(value)" class="quantity-border" style="max-width:170px;"/>

            <button id="plus" onclick="onPlusClick()" type="button" class="btn btn-default btn-number" data-type="plus" data-field="Quantity">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        
        <div class="pt-3">
            <label class="fw-bold">Total Cost: </label>
            <span id="totalCostLabel" class="fw-normal"></span>
            <label class="fw-normal"> $</label>
        </div>
    </form>

    <div class="pt-3">
        <button id="saveButton" type="submit" form="form" class="btn btn-primary fw-bold" disabled>Add To Order</button>
        <button class="btn btn-primary fw-bold float-end" onclick="location.href='@Url.ActionLink("Index", "Products", new { categoryId = categoryId })'">
            Back
        </button>
    </div>
</div>

<script>
    const unitPrice = parseFloat('@Model.UnitPrice.ToString()?.Replace(',','.')');
    const quantity = document.getElementById('quantity');
    const discount = document.getElementById('discount');
    const minus = document.getElementById('minus');
    const totalCostLabel = document.getElementById('totalCostLabel');
    const overloadQuantityError = document.getElementById('overloadQuantityError');
    const saveButton = document.getElementById('saveButton');
    const unitsInStock = @Model.UnitsInStock;

    function onMinusClick() {
        if (Number(quantity.value) === 0) { 
            minus.disabled = true;
            return;
        }
        quantity.value = Number(quantity.value) - 1;
        onQuantityChange(quantity.value)
    }

    function onPlusClick() {
        if (Number(quantity.value) === 0) {
            minus.disabled = false;
        }
        quantity.value = Number(quantity.value) + 1;
        onQuantityChange(quantity.value)
    }

    function onDiscountChange(value) {
        if (Number(value) < 0) { 
            discount.value = 0;
            value = 0;
        }
        totalCostLabel.textContent = calculateCost(value);
    }

    function calculateCost(discountValue) {
        const cost = parseFloat(unitPrice) * parseFloat(quantity.value);
        return cost - (cost / 100) * parseFloat(discountValue)
    }

    function onQuantityChange(value) {
        if (Number(value) === 0) {
            saveButton.disabled = true;
            return;
        }

        if (Number(value) > unitsInStock) {
            overloadQuantityError.style.color = 'red';
            saveButton.disabled = true;
            minus.disabled = false;
            plus.disabled = true;
        }
        else {
            overloadQuantityError.style.color = 'transparent';
            saveButton.disabled = false;
            plus.disabled = false;
        }

        totalCostLabel.textContent = calculateCost(discount.value);
    }
</script>

<style>
    .quantity-border {
        border: 1px solid;
        border-radius: 3px;
        border-color: darkgray;
        height: 34px;
        max-width: 500px
    }
</style>