@using Northwind.Application.Constants
@addTagHelper *, Northwind.Application
@model Northwind.Application.Models.OrderDetail.OrderDetailIndexModel
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "OrderDetails";
    ViewData["ActionName"] = "Delete";
    ViewData["ForeignKeyValue"] = ViewBag.OrderId ?? ViewBag.ProductId;
    ViewData["ForeignKeyName"] = ViewBag.OrderId != null ? "orderId" : "productId";
}

@functions {
    bool? Confirmed => ViewBag.Confirmed;
    string? CustomerId => ViewBag.CustomerId;
    int? OrderId => this.Context.Session.GetInt32(SessionValues.OrderId) ?? Model.OrderDetails.FirstOrDefault()?.OrderId;
    string Hidden => User.IsInRole(UserRoles.Customer) && OrderId != null && (!Confirmed ?? false) ? "" : "hidden";
}

<h1>"@(ViewBag.ProductOrCompanyName)" Order Details</h1>

@if (User.IsInRole(UserRoles.Admin))
{
    @await Html.PartialAsync("_IndexButtonsPartial")
}

@if (Model.OrderDetails.Any())
{
    @await Html.PartialAsync("_TableFormPartial", Model.OrderDetails, ViewData)
    var customerId = this.Context.Session.GetString(SessionValues.CustomerId);

    if (User.IsInRole(UserRoles.Customer) && !User.IsInRole(UserRoles.Admin))
    {
        <button class="btn btn-primary fw-bold" onclick="@($"location.href = '{Url.ActionLink("Index", "Orders", new { customerId = customerId })}'")">Back To Orders</button>
    }

    if (User.IsInRole(UserRoles.Customer) && CustomerId == customerId)
    {
        <button id="orderConfirmButton" class="btn btn-info pl-5" onclick="confirmOrder()" @Hidden>Confirm</button>
    }

    <button class="btn btn-danger pl-5 float-end" onclick="@($"location.href = '{Url.ActionLink("Cancel", "Orders", new { id = OrderId })}'")" @Hidden>Cancel</button>

    <page-link page-model="Model.PageViewModel" page-action="Index" class="float-end"></page-link>
}
else
{
    <h1>List is empty</h1>
    @if (ViewData["PreviousPage"] != null)
    {
        <button class="btn btn-primary fw-bold" onclick="location.href = '@ViewData["PreviousPage"]'">Back</button>
    }
}

<script>
    function confirmOrder() {
        document.getElementById("orderConfirmButton").hidden = true;
        location.href = '@Url.ActionLink("Confirm", "Orders", new { orderId = OrderId })';
    }
</script>