@using Northwind.Application.Constants
@addTagHelper *, Northwind.Application
@model Northwind.Application.Models.OrderDetail.OrderDetailIndexModel
@{
    ViewData["PreviousPage"] = ViewBag.PreviousPage;
    ViewData["ControllerName"] = "OrderDetails";
    ViewData["ActionName"] = "Delete";
    ViewData["ForeignKeyValue"] = ViewBag.ForeignKeyValue;
    ViewData["ForeignKeyName"] = ViewBag.ForeignKeyName;
    ViewData["PageStartNumbering"] = ViewBag.PageStartNumbering;
}

@functions {    
    int? OrderId => this.Context.Session.GetInt32(SessionValues.OrderId) ?? Model.OrderDetails.FirstOrDefault()?.OrderId;
    int? CategoryId => ViewBag.CategoryId;
}

<h1>"@(ViewBag.ProductOrCompanyName)" Order Details</h1>

@if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Owner) || User.IsInRole(UserRoles.Employee))
{
    @await Html.PartialAsync("_IndexButtonsPartial", null as SelectList)
}

@if (Model.OrderDetails.Any())
{
    @await Html.PartialAsync("_TableFormPartial", Model.OrderDetails, ViewData)

    if (User.IsInRole(UserRoles.Customer))
    {
        var customerId = this.Context.Session.GetString(SessionValues.CustomerId);
        var hidden = OrderId != null && (!ViewBag.Confirmed ?? true) ? "" : "hidden";
        var backLink = CategoryId != null ? Url.ActionLink("Index", "Products", new { categoryId = CategoryId }) : Url.ActionLink("Index", "Categories");

        <button class="btn btn-primary fw-bold" onclick="@($"location.href = '{backLink}'")" @hidden>
            Back To Shopping
        </button>

        if (customerId == ViewBag.CustomerId)
        {
            <button id="orderConfirmButton" class="btn btn-info pl-5" onclick="confirmOrder()" @hidden>
                Confirm
            </button>
        }

        <span style="padding-left:40px;font-size:22px;font-weight:bold">Total price: @(Model.OrderDetails.Sum(x => x.TotalPrice).ToString("f2")) $</span>

        <button class="btn btn-danger pl-5 float-end" onclick="@($"location.href = '{Url.ActionLink("Cancel", "Orders", new { id = OrderId })}'")" @hidden>
            Cancel
        </button>
    }

    <page-link page-model="Model.PageViewModel" page-action="Index" class="float-end"></page-link>
}
else
{
    <h1>List is empty</h1>
    @if (ViewData["PreviousPage"] != null)
    {
        <button class="btn btn-primary fw-bold" onclick="location.href = '@ViewData["PreviousPage"]'">Back</button>
    }
}

<script>
    function confirmOrder() {
        document.getElementById("orderConfirmButton").hidden = true;
        location.href = '@Url.ActionLink("Confirm", "Orders", new { orderId = OrderId, categoryId = CategoryId })';
    }
</script>