@model IEnumerable<Northwind.Application.Models.Category.CategoryIndexModel>
@{
    ViewData["Title"] = "Categories";
}

@functions
{
    string GetDetailsLink(int id) => Url.ActionLink("Details", "Categories", new { id = id }) ?? "/Home/Index";
    string IsDisabled() => User.IsInRole("admin") ? "" : "disabled";
}

<head>
    <link href="@Url.Content("~/css/checkboxes.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Categories</h1>

<div>
    <button class="btn btn-primary" onclick="location.href = '@Url.ActionLink("Create", "Categories")'" type="button" @IsDisabled()>
        Create New
    </button>

    <button class="btn btn-primary" id="editButton" style="margin-left:20px;" type="button" @IsDisabled()>
        Select
    </button>

    <input onchange="onChangeSelectAllHandler(this.checked)" id="selectAllCheckbox" style="margin-left:20px;" type="checkbox" hidden />
    <label id="selectAllSpan" for="selectAllCheckbox" hidden>Select all</label>

    <button form="form" class="btn btn-danger float-end" type="submit" id="deleteButton" hidden>
        Delete
    </button>
</div>

<form id="form" method="get" asp-action="Delete">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col p-3">
                <div style="cursor:pointer" onclick="location.href = '@GetDetailsLink(item.CategoryId)'">
                    <img src="data:image/bmp;base64,@Convert.ToBase64String(item.Picture! ?? new byte[0])" style="height:100px;width:100px;" />
                </div>
                <div class="text-xl-center">
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </div>
                <div class="text-xl-center">
                    <input name="ids" type="checkbox" id="@item.CategoryId" value="@item.CategoryId" onclick="onChangeHandler(this)" hidden/>
                </div>
            </div>
        }
    </div>    
</form>

<script src="~/js/checkboxes.js"/>
